@import '../../../scss-setings/vars.scss';

.card {
  &__photo {
    width: 100%;
    
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    position: relative;
    padding: 30px 0 15px;
  }

  &__like {
    position: absolute;
    top: 5px; 
    right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    &--active {
      path {
        transition: fill 0.3s ease;
        fill: rgb(255, 0, 0);
      }
    }
  }

  &__link {
    height: 240px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    &:hover {
      & .card__image {
        transform: scale(1.1);
      }
    }
  }

  &__image {
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  &__name {
    color: $white;
  }
  
  &__name,
  &__price {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
  }

  &__item {
    padding: 5px 10px;
    background-color: $yellow;
    color: $black;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:not(:last-child) {
      margin-right: 5px;
    }
    &--active {
      background-color: green;
    }
  }

  &__price {
    color: $yellow;
    font-weight: 600;
  }

  &__btn {
    width: 100%;
    padding: 5px 10px;
    font-family: inherit;
    color: inherit;
    color: $black;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color 0.3s ease;
    &--yellow {
      background-color: $yellow;
    }
    &--green {
      background-color: green;
    }
  }
}