@import '../../../scss-setings/vars.scss';

.catalog {
  padding: 40px 0;
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__item {
    transform: skew(-6deg);
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__btn {
    background-color: transparent;
    padding: 5px 15px;
    border: 1px solid $yellow;
    font-weight: 600;
    color: $text;
    transition: all 0.3s ease-in;
    &--active {
      color: $black;
      background-color: $yellow;
    }
  }

  &__price {
    position: relative;
  }
  &__price-btn {
    color: $text;
    display: flex;
    align-items: center;
    width: 155px;
    justify-content: space-between;
    border: 1px solid $yellow;
    background-color: transparent;
    padding: 5px 15px;
    font-weight: 600;
    color: #F0F0F0;
    transform: skew(-6deg);
  }
  &__price-svg {
    fill: $text;
    width: 17px;
    height: 15px;
    transition: transform 0.3s ease-in;
    &--active {
      transform: rotate(180deg);
    }
  }

  &__price-list {
    position: absolute;
    z-index: 100;
    width: 155px;
    left: -2px;
    overflow: hidden;
    transition: all 0.5s ease-in;
    background-color: rgba($yellow, .8);
  }

  &__price-item {
    padding: 5px;
    cursor: pointer;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
    &:hover {
      background-color: $yellow;
      color: $black;
    }
  }

  &__error {
    grid-column: 1/12;
    margin: 0 auto;
    text-align: center;
    padding: 25px 50px;
    span {
      display: block;
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    div {
      margin: 10px 0;
      font-size: 50px;  
    }
  }

}