@import "../../../scss-setings/vars.scss";


.slider {
  &__wrapper {
    clip-path: polygon(0 25%, 100% 0, 100% 75%, 0% 100%);
    background-color: $yellow;
  }
  .swiper {
    height: 630px;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    max-width: 500px;
    width: 100%;
  }


  &__title {
    color: $white;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 48px;
    span {
      font-weight: 300;
      font-size: 32px;
      display: block;
    }
  }

  &__image {
    width: 565px;
    height: 540px;
    object-fit: cover;
  }
}